*{
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
h1 {
    color: #0044ca;
}
nav {
    background-color: black; 
    text-align: center;
    ul li {
        list-style-type: none;
        color: #d6d6d6; 
        display:inline-block;
        padding: 12px 20px;
    }
}
ul li{
    color: #3c3c3c;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
}

.overall_body{
    background-color: #dcdbdb;
    padding: 10px;

}

section{
    margin: 20px;
    padding: 10px 20px;
    background-color: #e5e5f1;
    box-shadow: 0 0 20px rgba(10, 4, 4, 0.1) ;
    border-radius: 5px;

}

h2{
    color: #0044ca;
}

p{
    color: #3c3c3c;
}
.overview_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


footer{
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #d6d6d6; 
    padding: 12px 20px;
}